---
layout: default
---
<div id="blog-container">
  <ul id="blog-list">
    {% for npost in paginator.posts %}
    <li class="blog-info"> 
      <div class="blog-item-head">
        <div class="blog-item-pencil">
          <i class="fa fa-file-text fa-2x"></i>
        </div>
        <div class="blog-item-author">
          <i class="fa fa-user">&nbsp;&nbsp;Author</i>
          <div class="author-link">
            <a href="/">Ethan</a>
          </div> 
        </div>
        <div class="blog-item-clock">
          <i class="fa fa-clock-o">&nbsp;&nbsp;Posted on</i>
          <div class="clock-link">
            <a href="/">{{ npost.date | date_to_utc | date: '%Y-%m-%d' }}</a>
          </div> 
        </div>
        <div class="blog-item-tags">
          <i class="fa fa-tags">&nbsp;&nbsp;Tags</i>
          <div class="tag-link">
            <a href="/">{{ npost.tags }}</a>
          </div> 
        </div>
        <div class="blog-item-comment">
          <i class="fa fa-comment">&nbsp;&nbsp;Comment</i>
          <div class="comment-link">
            <a href="{{ npost.url }}#comment">Send comments</a>
          </div> 
        </div>
      </div>
      <div class="blog-item-info">
        <div class="blog-item-title"><a href="{{ npost.url }}">{{ npost.title }}</a></div>
        <div class="blog-item-description">
          {{ npost.description }}
        </div>
        <div class="blog-item-read">
          <a href="{{ npost.url }}"></i>&nbsp;&nbsp;TO READ &rarr;</a>
        </div>
        <div class="blog-item-divider"></div>
      </div>
    </li>
    {% endfor %}
  </ul>  
  {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
        <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer</a>
        </li>
      {% else %}
        <li class="previous disabled"><a href="#">&larr; Newer</a></li>
      {% endif %}

      {% if paginator.next_page %}
        <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &rarr;</a>
        </li>
      {% else %}
        <li class="next disabled"><a href="#">Older &rarr;</a></li>
      {% endif %}
    </ul>
  {% endif %}

  <footer class="footer">
    Copyright &copy; 2014 Ethan Design credit: 
    <a href="https://github.com/EthanZeng1992/ethanzeng1992.github.com">ethanzeng1992</a>
  </footer>
</div>
