<section id="comment">
  <h2>Comments</h2>
  <div id="disqus_thread" aria-live="polite">
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div>
</section>

<script type="text/javascript">
  var disqus_shortname = 'ethanzeng1992';

  var disqus_identifier = 'http://ethanzeng1992.github.io{{ page.url}}';
  var disqus_url = 'http://ethanzeng1992.github.io{{ page.url}}';
  var disqus_script = 'embed.js';
        
  (function () {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  }());
</script>
