<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html> <head>
    <title>Ethan Blog</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/post.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!--for code pretty-->
    <script type="text/javascript" src="{{ site.url }}/js/prettify.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      $(function() {
        $('pre').addClass('prettyprint linenums').attr('style', 'overflow:auto');
        window.prettyPrint && prettyPrint();
      });
    </script>

  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1 id="site-title"><a href="/">Ethan Blog</a></h1>
      </div>
      <div id="header-img">
        <img src="/images/head.jpg" width=100% height="288"> 
      </div>
      <div id="nav">
        <ul id="nav-item">
          <li class="nav-item-list"><a href="/">Home</a></li>
          <li class="nav-item-list"><a href="#">Archive</a></li>
          <li class="nav-item-list"><a href="#">Works</a></li>
          <li class="nav-item-list"><a href="#">Resume</a></li>
          <li class="nav-item-list"><a href="#">Contact</a></li>
        </ul>
      </div>

      {{ content }}

      <div id="aside">
        <div class="aside-item">
          <div class="aside-item-title">Recent Blogs</div>
          <ul class="aside-item-list">
            {% for post in site.posts limit:5 %}
            <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="aside-item">
          <div class="aside-item-title">Likes</div>
          <div class="aside-item-list aside-images-list">
            <div class="likes-item">
              <div class="likes-item-title">
                <a href="http://www.fa-d.com/project/weatherflow?full=1#img887">FA Design</a>
              </div>
              <div class="likes-item-description">
                <p>an independent design studio</p>
              </div>
              <div class="likes-item-image">
                <a href="http://www.fa-d.com/project/weatherflow?full=1#img887"><img src="/images/fa-d.jpg" width="100%" height="250px"/></a>
              </div>
            </div>
            <div class="likes-item">
              <div class="likes-item-title">
                <a href="http://5m3d.com/">5M3D</a>
              </div>
              <div class="likes-item-description">
                <p>html5 & css3</p>
              </div>
              <div class="likes-item-image">
                <a href="http://5m3d.com/"><img src="/images/5m3d.png" width="100%" height="250px"/></a>
              </div>
            </div>
            <div class="likes-item">
              <div class="likes-item-title">
                <a href="http://www.zippergaleria.com.br/en/">Zipper</a>
              </div>
              <div class="likes-item-description">
                <p>a cool site</p>
              </div>
              <div class="likes-item-image">
                <a href="http://www.zippergaleria.com.br/en/"><img src="/images/zipper.jpg" width="100%" height="250px"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
